@{
    ViewData["Title"] = "Products";
}

<h1>Our Products</h1>
<h3>prod1</h3>
<p>hnjcoifoirertytuijhbvgfcder56ty7uiojhgfvhjkkhygtrtyuiouygtfgyhu</p>
<h3>prod2</h3>
<p>hnjcoifoirertytuijhbvgfcder56ty7uiojhgfvhjkkhygtrtyuiouygtfgyhu</p>