<div>
	<h3>Grid</h3>
	<table class="table w-100">
		<thead>
			<th>Sr.No</th>
			<th>Name</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>abc</td>
			</tr>
			<tr>
				<td>2</td>
				<td>bcd</td>
			</tr>
			<tr>
				<td>3</td>
				<td>cde</td>
			</tr>
		</tbody>
	</table>
</div>